

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}
.section:nth-child(odd) {
    flex-direction: row; /* Text on left, Image on right */
}
 .section:nth-child(even) {
    flex-direction: row-reverse; /* Text on right, Image on left */
}
.text-content {
    width: 48%;
    text-align: left;
    padding: 20px;
}

.container .text-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
 .appointment-button {
    display: inline-block;
    background-color: #3f4636;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

 .appointment-button:hover {
    background-color: #384435;
}

.image-content {
    width: 48%;
    display: flex;
    justify-content: center;
}

 .image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
     .section {
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
    }

    .text-content, .container .image-content {
        width: 100%;
        text-align: center;
    }

    .text-content {
        padding: 10px;
    }
}
